*{
    background-color: rgba(170, 4, 4, 0.877);
    margin: 0;
} 
.logo{
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-family:fantasy;
    color: rgb(255, 238, 0);
    -webkit-text-stroke: .07em rgba(99, 8, 8, 0.5)
}
.types{
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}
a:hover {
    color:#000000;
    font-weight:bold;
    text-decoration:none
    }
a{
    color: rgb(206, 195, 51);
    font-weight:bold;
    position: relative;
    letter-spacing: -0.01em;
    -webkit-text-stroke: .01em rgb(6, 9, 10);
    text-decoration: none;
    text-shadow: cornsilk;
    }
ul{
    padding: 10px;
}
.text1{
    color: cornsilk;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}
.pn{
    width: 100%;
    padding: 0px;
    display: block;
    justify-content: center;
}
.pn img{
    width: 31%;
    padding: 0px;
    margin: 0px;
    height: 300px;
    margin-left: 25px;
}
.ending{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}