* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   text-align: center;
   margin-bottom: 20px;
}
.container {
    width: 1200px;
    border-radius: 3%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: rgb(245, 205, 72);

}
h3 {
    font-size: 25px;
    padding-bottom: 45px;
}
.title {
    text-align: center;
    padding-bottom: 20px;
}

.img {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100;
}
img {
    width: 300px;
    height: 150px;
}
.item p {
    font-size: 30px;
    color: rgb(0, 0, 0);
}
input {
    margin: 0;
}
.input-style {
    justify-content: center;
    display: flex;
}
.input-style p {
    margin-right: 20px;
}
.answ, .answ2 {

    font-size: 17px;
    cursor: pointer;
    background: lemonchiffon;
    border-radius: 10%;
    font-weight: bold;
    height: 30px;
}
.answ {
    width: 100px;
}
.answ2 {
    width: 180px;
    margin: 0;
}
.right{
    background-color: rgba(0, 200, 0, 0.5);
}
.wrong1 {
     background-color: rgb(255, 44, 55);
 }
.right_answ,
.wrong-content {
    display: flex;
    justify-content: center;
    margin: 0;
}
.right,
.wrong1{
    padding-bottom: 5px;
    font-size: 20px;
    width: 300px;
    align-content: center;
    border-radius: 5px;
}

.hdn{
padding-bottom: 20px;
font-size: 22px;
display: none;
}

.opend{
background-color: skyblue;
}
.correct {
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: -17px;
}